header {
   position: relative;
   background-image: url(../image/fond.png);
   background-repeat: no-repeat;
   background-size: cover;
   }

header > div {
   background-color: rgba(255, 255, 255, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

header > div div:first-child div:first-child {
   display: flex;
   justify-content: center;
}

header ul {
   list-style-type: none;
   text-align: center;
}

header ul li {
   display: inline;
   margin: 5px;
}

header > div > div:last-child {
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header > div > div:last-child a {
   display: block;
   text-align: center;
   color: white;
   background-color: black;
   border-radius: 50px;
   width: 200px;
}

main {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
}

main > article:first-child{
   background-image: url(../image/homme.png);
   background-size: cover;
   background-repeat: no-repeat;
   flex-basis: 150px;
   flex-grow: 1;
   margin-top: 20px;
   margin-bottom: 0;
   aspect-ratio: 1/1;
}

main > article:nth-child(2){
   background-image: url(../image/femme.png);
   background-size: cover;
   background-repeat: no-repeat;
   flex-basis: 150px;
   flex-grow: 1;
   margin-top: 20px;
   margin-bottom: 0;
   aspect-ratio: 1/1;
}

main > article:nth-child(3){
   position: relative;
   background-image: url(../image/defile.png);
   background-size: cover;
   background-repeat: no-repeat;
   flex-basis: 100%;
   flex-grow: 1;
   margin-top: 20px;
   aspect-ratio: 4/1.5;
}

main > article:nth-child(3) h2 {
   position: absolute;
   left: 0;
   top: 0;
   background-color: white;
   border-bottom-right-radius: 15px;
   padding-right: 20px;
   margin: 0;
}

main > article {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}

main > article a {
   display: block;
   text-align: center;
   color: white;
   background-color: black;
   border-radius: 50px;
   width: 150px;
}

footer {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   background-color: #d9d9d9;
   margin-top: 50px;
}

footer ul {
   list-style-type: none;
}

footer ul:last-child {
   display: flex;
}

footer img {
  width: 30px;
  height: 30px;
}


@media (min-width: 768px) {
   header {
      background-image: url(../image/fond.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500PX;
   }

   header > div {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 100%;
   }
   header > div div:first-child {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   }

   header > div > div:last-child {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position:absolute;
   bottom: 150px;
   }

   header > div ul {
      margin-top: 45px;
   }

   header > div ul li {
      margin: 0 5px;
   }
}