header {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url(../image/family.png);
   background-repeat: no-repeat;
   background-size: cover;
   }

header > div {
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 100%;
}

header > div div:first-child {
   display: flex;
   justify-content: center;
}

header ul {
   list-style-type: none;
   text-align: center;
}

header ul li {
   display: inline;
   margin: 5px;
}

header nav ul li a {
   text-decoration: none;
}

@media (min-width: 768px) {
   header {
      background-image: url(../image/family.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500PX;
   }
   header > div {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 100%;
   }

   header > div ul {
      margin-top: 45px;
   }

   header > div ul li {
      margin: 0 5px;
   }
}