body {
    margin: 0;
    color: #1A1A1B;
    font-family: 'Inyter', sans-serif;
 }

 main {
    max-width: 1000px;
    margin: auto;
 }

ul {
    list-style: none;
}

 a {
    text-decoration: none;
    color: #1A1A1B;
 }

 footer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #d9d9d9;
    margin-top: 50px;
 }
 
 footer ul {
    list-style-type: none;
 }
 
 footer ul:last-child {
    display: flex;
 }
 
 footer img {
   width: 30px;
   height: 30px;
 }