:root {
   --couleur_principale: #fff;
   --couleur_secondaire: #C5B498;
   --couleur_secondaire_darker: #807562;
   --couleur-text: #1A1A1B;
   --couleur-neutre: #d9d9d9;
}

body {
    margin: 0;
    color: var(--couleur-text);
    font-family: 'Inyter', sans-serif;
    background-color: var(--couleur_principale);
    font-size: 1rem;
}

.for_big_screen {
   display: none;
}

.for_burger_menu {
   display: none;
   width: 100%;
   background-color: var(--couleur-neutre);
   flex-direction: column;
}

.for_burger_menu nav ul {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}


.for_burger_menu div ul {
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
   height: 100px;
}

#header_main {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: var(--couleur_secondaire);
 }

#menu_icon div{
   width: 35px;
   height: 5px;
   background-color: var(--couleur-text);
   margin: 5px 0;
}
 
/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


#breadcrumb ul{
   margin-top: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-weight: bold;
   padding: 0.5rem;
   background-color: var(--couleur_principale);
}

#breadcrumb li:not(:last-child)::after {
   display: inline-block;
   margin: 0 0.25rem;
   content: ">";
 }

 #breadcrumb li:not(:last-child):hover {
   text-decoration: underline;
 }

 @media (min-width: 768px) {
   #menu_icon {
      display: none;
   }

   .for_big_screen {
      display: block;
   }

   #header_main ul{
      display: flex;
      flex-direction: row;
      gap: 24px;
   }

   .filter_line ul  {
      background-color: var(--couleur-neutre);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
   }
}

h1 {
   margin-top: 150px;
   margin-bottom: 24px;
}

 main {
    max-width: 1000px;
    min-height: 300px;
    margin: auto;
 }

.image_produit {
   position: relative;
   width: 200px;
   height: 300px;
}

.gallerie {
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
}

.gallerie article{
   position: relative;
}

.gallerie article a {
   position: absolute;
   display: block;
   bottom: 30px;
   background-color: var(--couleur_secondaire);
   border-radius: 50px;
   font-weight: bold;
   padding: 0 1rem;
}

.gallerie article a:hover {
   background-color: var(--couleur_secondaire_darker);
}

.collection {
   position: relative;
   padding: 0;
}

.collection h2 {
   position: absolute;
   bottom: 0;
   background-color: var(--couleur_principale);
   padding: 2px 1rem;
   border-radius: 30px;

}

.image_collection {
   width: 100%;
}

ul {
    list-style: none;
}

 a {
    text-decoration: none;
    color: var(--couleur-text);
 }

 footer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--couleur_secondaire);
    margin-top: 50px;
 }
 
 footer ul {
    list-style-type: none;
 }
 
 footer ul:last-child {
    display: flex;
 }
 
 footer img {
   width: 30px;
   height: 30px;
 }