body {
   margin: 0;
   color: #1A1A1B;
   font-family: 'Inyter', sans-serif;
}

header {
   position: relative;
   background-image: url(../image/fond.png);
   background-repeat: no-repeat;
   background-size: cover;
   }

header > div {
   background-color: rgba(255, 255, 255, 0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

header > div div:first-child div:first-child {
   display: flex;
   justify-content: center;
}

header ul {
   list-style-type: none;
   text-align: center;
}

header ul li {
   display: inline;
   margin: 5px;
}

a {
   text-decoration: none;
   color: #1A1A1B;
}

header > div > div:last-child {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position:absolute;
   bottom: 100px;
}

header > div > div:last-child a {
   display: block;
   text-align: center;
   color: white;
   background-color: black;
   border-radius: 50px;
   width: 200px;
}

footer {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

footer ul {
   list-style-type: none;
}

footer ul:last-child {
   display: flex;
}

footer img {
  width: 20px;
  height: 20px;
}


@media (min-width: 768px) {
   header {
      background-image: url(../image/fond.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500PX;
   }

   header > div {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 100%;
   }
   header > div div:first-child {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   }

   header > div ul {
      margin-top: 45px;
   }

   header > div ul li {
      margin: 0 5px;
   }
}